body{
    background-color: black;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.header-1{
    display: flex;
    padding: 60px;
    font-size: 20px;
    list-style-type: none;
}
.top-header-1{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    justify-content: left;
    padding: 9px;
    text-align: center;
}
.fab{
    padding: 40px;
    font-size: 45px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 150px;
}
.ins{
    padding: 40px;
    font-size: 45px;
    color: aliceblue;
    margin-top: 30px;
}
.twit{
    padding: 40px;
    font-size: 45px;
    color: aliceblue;
    margin-top: 30px;
}
#img{
    padding: 4px;
    text-align: center;
    color: goldenrod;
    font-size: 180px;
    font-family: "Meow Script", cursive;
    margin-left: 2101px;
    margin-top: -18px;
}
.call{
    color: goldenrod;
    font-family: "Jost", sans-serif;
    font-size: 40px;
    border: 7px solid goldenrod;
    background-color: black;
    padding: 40px;
    height: 130px;
    margin-left: 1800px;
    margin-top: 9px;
    text-align: center;
}
.top-header-1 button{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid #E5BF4A; 
    background-color: black;
    text-transform: uppercase;
    padding: 7px 55px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.top-header-1 button:hover{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5BF4A;
    border: 5px solid goldenrod;
    padding: 7px 55px;
}
.header-section-2{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    padding: 25px 0;    
}
.header-2{
    display: flex;
    justify-content: center;
}
.header-2 li{
    margin: 1px 60px;
}
.header-2 button{
    justify-content: space-between;
    border: 40px solid black;
    gap: 100px;
    padding: 22px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    font-family: "Jost", sans-serif;;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
    justify-content: center;
    text-transform: uppercase;
}
.header-2 button:hover{
    color: #E5BF4A;
    text-decoration: underline;
    text-underline-offset: 57px;
    text-decoration-color: #E5BF4A;
    text-decoration-thickness: 3px;
}
.image-orient{
    display: grid;
    align-items: center;
    padding: 60px;
    top: 0px;
    background-image: url('img/h1_hero1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6000px;
    height: 1810px;
    overflow: hidden;
}
.cake-image{
    color: aliceblue;
    font-family: "Poiret One", sans-serif;
    font-size: 188px;
    font-weight: 400;
    margin-left: 1219px;
    line-height: 1.2;
}
.cake-image button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    border: 40px solid #E5BF4A;
    background-color: #E5BF4A;
    text-transform: uppercase;
    padding: 7px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.cake-image button:hover{
    background-color: black;
    color: goldenrod;
    border: 5px solid goldenrod;
    padding: 41px 90px;
} 
.caption-text{
    text-align: center;
    margin-top: 5.5%;
}
.cap-t{
    color: white;
    font-family: "Poiret One", cursive;
    font-size:105px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
}
.y-dash{
    width: 250px;
    height: 2px;
    background-color: gold;
    margin: 30px auto 0;
    margin-top: 2%;
}
.food-theme{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 100px;
    padding: 50px;
    margin: 40px;
    color: white;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: 1%;
}
#heading{
    color: goldenrod;
    font-family: "Poiret One", cursive;
    font-size: 100px;
    text-align: left;
    margin-left: 200px;
}
#para{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 60px;
    text-align: left;
    margin-left: 200px;
}
.para-img img{
    width: 1923px;
    max-width: 100%;
    height: 1314px;
}
.cake-sell{
    display: flex;
    color: #E5BF4A;
    justify-content: center;
    margin-top: 30px;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    
}
.cake-temp{
    display: flex;
    gap: 100px;
    margin-left: 200px;
}
.left-angle{
    font-size: 110px;
    margin-top: 500px;
}
.cake-sell img{
    height: 870px;
    width: 1100px;
    display: block;
}                         
.cake-temp{
    font-family: "Poiret One", cursive;
}
.right-angle{
    font-size: 110px;
    margin-top: 500px;
}
#text1{
    color: aliceblue;
    font-size: 70px;
    margin-top: 60px;
}
#text2{
    color: gold;
    font-size: 55px;
    margin-top: -40px;
    position: absolute;
}
#text3{
    color: aliceblue;
    font-size: 70px;
    margin-top: 60px;
}
#text4{
    color: gold;
    font-size: 55px;
    margin-top: -40px;
    position: absolute;
}
#text5{
    color: aliceblue;
    font-size: 70px;
    margin-top: 60px;
}
#text6{
    color: gold;
    font-size: 55px;
    margin-top: -40px;
    position: absolute;
}
.video{
    display: grid;
    align-items: center;
    padding: 60px;
    top: 0px;
    background-image: url('img/video.jpg');
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3465px;
    width: 4000px;
    height: 1810px;
    margin-left: 1070px;
}
.video-temp{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    border: 1px solid goldenrod;
    border-radius: 50%;
    background-color: gold;
    text-transform: uppercase;
    padding: 83px 93px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-left: 3926px;
}
.video button:hover{
    background-color: white;
    border: 10px solid goldenrod;
    padding: 83px 93px;
}
.rev-head{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 109px;
    text-align: center;
    font-weight: 40;
    margin-top: 244px;
}
.rev-main{
    display: grid;
    grid-template-columns: 1245px 1245px 1167px;
    grid-template-rows: 900px;
    margin-left: 1300px;
    margin-right: 1100px;
    margin-top: 155px;
}
.stars{
    display: flex;
    font-size: 40px;
    color: #E5BF4A;
    align-items: center;
    padding: 9px;
    margin-left: -28px;
    list-style-type: none;
}
.stars li{
    margin: 20px;
}
.post{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 70px;
    margin-top: 30px;
}
.rev-section1{
    border: 1px solid grey;
    padding: 50px;
    border-left: 0px;
}
.identity{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-top: 134px;
}
.profile-pic{
    display: flex;
    height: 90px;
    width: 90px;
    margin-left: -29px;
}
.ident-1{
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 50px;
    margin-top: -40px;
    margin-left: 20px;
}
.rev-section2{
    border: 1px solid grey;
    padding: 50px;
}
.rev-section3{
    border: 1px solid grey;
    padding: 50px;
    border-right: 0px;
}
.blog-section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-top: 432px;
}
.blogs{
    margin-left: 110px;
    margin-top: -144px;
}
#topic{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 110px;
    margin-left: 1250px;
}
.about-blog{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 289px;
}
.blog-image img{
    position: relative;
    width: 1399px;
    height: 984px;
    display: block;
    margin-left: 100px;
}
.blog-text{
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    border: 1px solid grey;
    width: 1150px;
    height: 858px;
    border-left: none;
}
#tomato-head{
    color: gold;
    font-family: "Poiret One", cursive;
    font-size: 68px;
}
#mid-text{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 58px;
    margin-top: 0px;
}
.blog-text button{
    margin-top: 60px;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    width: 320px;
    margin-bottom: 1px;
    color: #E5BF4A;
    text-decoration: underline;
    text-underline-offset: 30px;
    text-decoration-color: #E5BF4A;
    text-decoration-thickness: 3px;
}
.blog-text button:hover{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    letter-spacing: 3px;
}
.more-blog{
    margin-left: -223px;
    margin-top: -105px;
}
.more button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    border: 40px solid #E5BF4A;
    background-color: #E5BF4A;
    text-transform: uppercase;
    padding: 30px 73px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 1450px;
}
.more button:hover{
    color: goldenrod;
    border: 5px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    background-color: black;
    padding: 66px 108px;
} 
.more-blog img{
    position: relative;
    width: 1399px;
    height: 986px;
    display: block;
    margin-left: 1px;
}
.more-blog-btn button{
    margin-top: 39px;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    margin-bottom: 1px;
    width: 400px;
    color: #E5BF4A;
    text-decoration: underline;
    text-underline-offset: 30px;
    text-decoration-color: goldenrod;
    text-decoration-thickness: 3px;
}
.more-blog-btn button:hover{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    letter-spacing: 3px;
}
.follow-text{
    color: aliceblue;
    font-family: "Poiret One", cursive;
    font-size: 110px;
    padding: 400px;
    text-align: center;
    margin-bottom: -299px;
}
.insta-access-btn button{
    color: gold;
    font-family: "Poiret One", cursive;
    font-size: 45px;
    border:5px solid gold;
    background-color: black;
    padding: 40px 95px;
    margin-left: 2800px;
    cursor: pointer;
}
.ins1{
    color: gold;
    margin-right: 34px;
}
.insta-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    align-items: center;
    margin-top: 250px;
}
.insta-part img{
    height: 630px;
    width: 800px;
}
.shop-name-clone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 280px;
    margin-left: 1170px;
    padding: 100px;
}
.clone1 img{
    height: 250px;
    width: 700px;
}
.header2-clone{
    margin-left: 2179px;
    margin-top: -215px;
}
.header2-clone button{
    justify-content: space-between;
    border: 40px solid black;
    gap: 100px;
    padding: 22px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    font-family: "Jost", sans-serif;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
    justify-content: center;
    text-transform: uppercase;
}
.header2-clone button:hover{
    color: #E5BF4A;
    text-decoration: underline;
    text-underline-offset: 57px;
    text-decoration-color: #E5BF4A;
    text-decoration-thickness: 3px;
}
.clone-border{
    border: 1px solid rgb(255, 255, 255, 0.2);
    padding: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 1285px;
    margin-left: 1317px;
    margin-top: -196px;
}
.shop-info {
    display: flex;
    color: aliceblue;
    font-family: "Jost", sans-serif;
    margin-left: 1285px;
    margin-bottom: -147px;
}
.shop-info ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.info-para {
    margin-top: 150px;
    font-size: 50px;
    line-height: 1.5;
    margin-left: 0px;
}
.social-buttons {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-left: -2px;
}
.social-buttons button {
    justify-content: space-between;
    border: 4px solid rgb(255, 255, 255, 0.2);
    padding: 50px 100px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    font-family: "Jost", sans-serif;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
    justify-content: center;
}
.social-buttons button:hover{
    border: 4px solid rgb(255, 255, 255, 0.2);
    padding: 50px 100px;
    color: gold;
    background-color: black;
    font-family: "Jost", sans-serif;
    font-size: 40px;
    background-color: black;
}
.social-buttons i {
    margin-right: 10px;
}
.loc-icon{
    color: aliceblue;
    font-size: 90px;
    margin-bottom: 0px;
}
.location{
    margin-top: 100px;
    margin-left: 400px;
    font-size: 50px;
}
.location-title{
    font-size: 60px;
    color: goldenrod;
    margin-top: 10px;
}
.con-icon{
    color: aliceblue;
    font-size: 73px;
    margin-bottom: 0px;
}
.contact{
    margin-top: 120px;
    margin-left: 335px;
    font-size: 50px;
}
.contact-title{
    font-size: 60px;
    color: goldenrod;
    margin-top: 25px;
}
.contact-title button{
    font-size: 56px;
    color: goldenrod;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
}
.contact-title button:hover{
    text-decoration: underline;
    font-size: 56px;
    color: goldenrod;
    border: 1px solid black;
    background-color: black;
}
.footer-border{
    border: 1px solid rgb(255, 255, 255, 0.2);
    padding: 100px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 1285px;
    margin-left: 1310px;
}
.copyright{
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 37px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 116px;
}
.heart{
    color: gold;
}
#colorlib{
    color: goldenrod;
}
@media only screen and (max-width: 1600px) {
    .image-orient {
        width: 100%;
        margin-left: 0;
    }
    .cake-image {
        margin-left: 0;
    }
    .video {
        width: 100%;
        margin-left: 0;
    }
    .rev-main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .blog-section {
        grid-template-columns: 1fr;
    }
    .blog-image img {
        margin-left: 0;
        width: 100%;
    }
    .blog-text {
        width: 100%;
        margin-left: 0;
    }
    .follow-text {
        padding: 100px;
    }
    .insta-access-btn button {
        margin-left: 10%;
    }
    .shop-name-clone {
        margin-left: 10%;
    }
    .clone-border {
        margin-right: 5%;
        margin-left: 5%;
    }
    .shop-info {
        margin-left: 5%;
    }
    .social-buttons button {
        padding: 20px;
    }
    .location {
        margin-left: 10%;
    }
    .contact {
        margin-left: 5%;
    }
    .copyright {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .header2-clone button {
        padding: 10px;
    }
    .more button {
        padding: 20px;
    }
    .more-blog-btn button {
        width: 100%;
        margin-left: 0;
    }
    .blog-image img {
        height: auto;
    }
    .more-blog img {
        height: auto;
    }
    .video button {
        padding: 50px;
    }
    .video-temp {
        margin-left: 50%;
    }
    .top-header-1 button {
        padding: 5px;
    }
    .cap-t {
        font-size: 50px;
    }
    .cake-image button {
        font-size: 30px;
    }
    .cake-sell img {
        width: 100%;
        height: auto;
    }
    .social-buttons button {
        padding: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .header-1 {
        padding: 20px;
    }
    .top-header-1 {
        padding: 5px;
    }
    .header-2 li {
        margin: 5px 30px;
    }
    .header-2 button {
        padding: 10px;
    }
    .image-orient {
        padding: 20px;
    }
    .cake-image {
        margin-left: 0;
        font-size: 100px;
    }
    .cake-image button {
        padding: 20px;
        font-size: 20px;
    }
    .cap-t {
        font-size: 40px;
    }
    .food-theme {
        padding: 20px;
    }
    .cake-sell {
        margin-top: 10px;
    }
    .video {
        padding: 20px;
    }
    .rev-head {
        font-size: 80px;
    }
    .stars {
        font-size: 30px;
        margin-left: -15px;
    }
    .post {
        font-size: 50px;
    }
    .blog-section {
        margin-top: 150px;
    }
    .blog-text {
        padding: 20px;
    }
    .blog-text button {
        font-size: 30px;
        padding: 10px;
    }
    .more-blog-btn button {
        padding: 10px;
        width: 100%;
        margin-left: 0;
    }
    .follow-text {
        padding: 200px;
    }
    .insta-access-btn button {
        padding: 30px;
        margin-left: 0;
    }
    .shop-name-clone {
        margin-top: 50px;
        margin-left: 5%;
    }
    .clone1 img {
        width: 100%;
        height: auto;
    }
    .clone-border {
        margin-right: 5%;
        margin-left: 5%;
    }
    .shop-info {
        margin-left: 5%;
        margin-bottom: 50px;
    }
    .social-buttons button {
        padding: 10px;
    }
    .location {
        margin-left: 5%;
    }
    .contact {
        margin-left: 5%;
    }
    .contact-title button {
        font-size: 40px;
    }
    .more button {
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .header-1 {
        padding: 10px;
        font-size: 15px;
    }
    .top-header-1 {
        padding: 3px;
    }
    .fab,
    .ins,
    .twit {
        padding: 20px;
        font-size: 30px;
    }
    #img {
        font-size: 120px;
        margin-left: 200px;
    }
    .call {
        font-size: 30px;
        padding: 20px;
        height: 100px;
        margin-left: 150px;
    }
    .header-section-2 {
        padding: 15px 0;
    }
    .header-2 li {
        margin: 1px 30px;
    }
    .header-2 button {
        padding: 10px;
        font-size: 30px;
    }
    .image-orient {
        padding: 10px;
    }
    .cake-image {
        font-size: 80px;
    }
    .cake-image button {
        font-size: 15px;
        padding: 5px;
    }
    .caption-text {
        margin-top: 3%;
    }
    .cap-t {
        font-size: 70px;
    }
    .food-theme {
        padding: 30px;
    }
    .cake-sell {
        margin-top: 20px;
    }
    .left-angle,
    .right-angle {
        font-size: 80px;
        margin-top: 300px;
    }
    .cake-sell img {
        width: 100%;
        height: auto;
    }
    .video {
        padding: 10px;
    }
    .rev-head {
        font-size: 60px;
    }
    .stars {
        font-size: 20px;
        margin-left: -10px;
    }
    .post {
        font-size: 40px;
    }
    .identity {
        margin-top: 70px;
    }
    .profile-pic {
        height: 70px;
        width: 70px;
    }
    .ident-1 {
        font-size: 40px;
        margin-top: -30px;
    }
    .blog-section {
        margin-top: 200px;
    }
    .blog-text {
        padding: 15px;
    }
    .blog-text button {
        font-size: 25px;
        padding: 7px;
    }
    .more-blog-btn button {
        padding: 7px;
        width: 100%;
        margin-left: 0;
    }
    .follow-text {
        padding: 100px;
    }
    .insta-access-btn button {
        padding: 25px;
        margin-left: 0;
    }
    .shop-name-clone {
        margin-top: 20px;
        margin-left: 10%;
    }
    .clone1 img {
        width: 100%;
        height: auto;
    }
    .clone-border {
        margin-right: 5%;
        margin-left: 5%;
    }
    .shop-info {
        margin-left: 5%;
        margin-bottom: 50px;
    }
    .social-buttons button {
        padding: 10px;
    }
    .location {
        margin-left: 5%;
    }
    .contact {
        margin-left: 5%;
    }
    .contact-title button {
        font-size: 30px;
    }
    .more button {
        padding: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .header-1 {
        padding: 5px;
        font-size: 12px;
    }
    .top-header-1 {
        padding: 2px;
    }
    .fab,
    .ins,
    .twit {
        padding: 15px;
        font-size: 20px;
    }
    #img {
        font-size: 90px;
        margin-left: 180px;
    }
    .call {
        font-size: 25px;
        padding: 15px;
        height: 80px;
        margin-left: 100px;
    }
    .header-section-2 {
        padding: 10px 0;
    }
    .header-2 li {
        margin: 1px 20px;
    }
    .header-2 button {
        padding: 8px;
        font-size: 25px;
    }
    .image-orient {
        padding: 8px;
    }
    .cake-image {
        font-size: 50px;
    }
    .cake-image
