body{
    background-color: black;
    overflow-x: hidden;
}
.header-1{
    display: flex;
    padding: 60px;
    font-size: 20px;
    list-style-type: none;
}
.top-header-1{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    justify-content: left;
    padding: 9px;
    text-align: center;
}
.fab{
    padding: 40px;
    font-size: 45px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 150px;
}
.ins{
    padding: 40px;
    font-size: 45px;
    color: aliceblue;
    margin-top: 30px;
}
.twit{
    padding: 40px;
    font-size: 45px;
    color: aliceblue;
    margin-top: 30px;
}
#img{
    padding: 4px;
    text-align: center;
    color: goldenrod;
    font-size: 180px;
    font-family: "Meow Script", cursive;
    margin-left: 2101px;
    margin-top: -18px;
}
.call{
    color: goldenrod;
    font-family: "Jost", sans-serif;
    font-size: 40px;
    border: 7px solid goldenrod;
    background-color: black;
    padding: 40px;
    height: 130px;
    margin-left: 1800px;
    margin-top: 9px;
    text-align: center;
}
.top-header-1 button{
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 5px solid #E5BF4A; 
    background-color: black;
    text-transform: uppercase;
    padding: 7px 55px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.top-header-1 button:hover{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5BF4A;
    border: 5px solid goldenrod;
    padding: 7px 55px;
}
.header-section-2{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    padding: 25px 0;    
}
.header-2{
    display: flex;
    justify-content: center;
}
.header-2 li{
    margin: 1px 60px;
}
#homepage, #cake, #aboutpage, #blogpage, #contactpage{
    justify-content: space-between;
    border: 40px solid black;
    gap: 100px;
    padding: 22px;
    color: aliceblue;
    cursor: pointer;
    background-color: black;
    font-family: "Jost", sans-serif;;
    font-size: 40px;
    text-align: center;
    list-style-type: none;
    justify-content: center;
    text-transform: uppercase;
}
.header-2 button:hover{
    border: 1px solid gold;
}
.image-orient{
    display: grid;
    align-items: center;
    padding: 60px;
    top: 0px;
    background-image: url('img/h1_hero1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 6000px;
    height: 1810px;
    overflow: hidden;
}
.cake-image{
    color: aliceblue;
    font-family: "Poiret One", sans-serif;
    font-size: 188px;
    font-weight: 400;
    margin-left: 1219px;
    line-height: 1.2;
}
.cake-image button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    border: 40px solid #E5BF4A;
    background-color: #E5BF4A;
    text-transform: uppercase;
    padding: 7px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.cake-image button:hover{
    background-color: black;
    color: goldenrod;
    border: 5px solid goldenrod;
    padding: 41px 90px;
} 
.caption-text{
    text-align: center;
    margin-top: 5.5%;
}
.cap-t{
    color: white;
    font-family: "Poiret One", cursive;
    font-size:105px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
}
.y-dash{
    width: 250px;
    height: 2px;
    background-color: gold;
    margin: 30px auto 0;
    margin-top: 2%;
}
.food-theme{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 100px;
    padding: 50px;
    margin: 40px;
    color: white;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: 1%;
}
#heading{
    color: goldenrod;
    font-family: "Poiret One", cursive;
    font-size: 100px;
    text-align: left;
    margin-left: 200px;
}
#para{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 60px;
    text-align: left;
    margin-left: 200px;
}
.para-img img{
    width: 1923px;
    max-width: 100%;
    height: 1314px;
}
.cake-sell{
    display: flex;
    color: #E5BF4A;
    justify-content: center;
    margin-top: 30px;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    
}
.cake-temp{
    display: flex;
    gap: 100px;
    margin-left: 200px;
}
.left-angle{
    font-size: 110px;
    margin-top: 500px;
}
.cake-sell img{
    height: 870px;
    width: 1100px;
    display: block;
}                         
.cake-temp{
    font-family: "Poiret One", cursive;
}
.right-angle{
    font-size: 110px;
    margin-top: 500px;
}
#text1{
    color: aliceblue;
    font-size: 70px;
    margin-top: 60px;
}
#text2{
    color: gold;
    font-size: 55px;
    margin-top: -40px;
    position: absolute;
}
#text3{
    color: aliceblue;
    font-size: 70px;
    margin-top: 60px;
}
#text4{
    color: gold;
    font-size: 55px;
    margin-top: -40px;
    position: absolute;
}
#text5{
    color: aliceblue;
    font-size: 70px;
    margin-top: 60px;
}
#text6{
    color: gold;
    font-size: 55px;
    margin-top: -40px;
    position: absolute;
}
.video{
    display: grid;
    align-items: center;
    padding: 60px;
    top: 0px;
    background-image: url('img/video.jpg');
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3465px;
    width: 4000px;
    height: 1810px;
    margin-left: 1070px;
}
.video-temp{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    border: 1px solid goldenrod;
    border-radius: 50%;
    background-color: gold;
    text-transform: uppercase;
    padding: 83px 93px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin-left: 3926px;
}
.video button:hover{
    background-color: white;
    border: 10px solid goldenrod;
    padding: 83px 93px;
}
.rev-head{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 109px;
    text-align: center;
    font-weight: 40;
    margin-top: 244px;
}
.rev-main{
    display: grid;
    grid-template-columns: 1245px 1245px 1167px;
    grid-template-rows: 900px;
    margin-left: 1300px;
    margin-right: 1100px;
    margin-top: 155px;
}
.stars{
    display: flex;
    font-size: 40px;
    color: #E5BF4A;
    align-items: center;
    padding: 9px;
    margin-left: -28px;
    list-style-type: none;
}
.stars li{
    margin: 20px;
}
.post{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 70px;
    margin-top: 30px;
}
.rev-section1{
    border: 1px solid grey;
    padding: 50px;
    border-left: 0px;
}
.identity{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-top: 134px;
}
.profile-pic{
    display: flex;
    height: 90px;
    width: 90px;
    margin-left: -29px;
}
.ident-1{
    color: white;
    font-family: "Jost", sans-serif;
    font-size: 50px;
    margin-top: -40px;
    margin-left: 20px;
}
.rev-section2{
    border: 1px solid grey;
    padding: 50px;
}
.rev-section3{
    border: 1px solid grey;
    padding: 50px;
    border-right: 0px;
}
.blog-section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-top: 432px;
}
.blogs{
    margin-left: 110px;
    margin-top: -144px;
}
#topic{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 110px;
    margin-left: 1250px;
}
.about-blog{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 290px;
}
.blog-image img{
    position: relative;
    width: 1399px;
    height: 984px;
    display: block;
    margin-left: 100px;
}
.blog-text{
    display: flex;
    flex-direction: column;
    padding: 60px 100px;
    border: 1px solid grey;
    width: 1150px;
    height: 899px;
    border-left: none;
}
#tomato-head{
    color: gold;
    font-family: "Poiret One", cursive;
    font-size: 68px;
}
#mid-text{
    color: white;
    font-family: "Poiret One", cursive;
    font-size: 58px;
    margin-top: 2px;
}
.blog-text button{
    margin-top: 60px;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
#dash{
    border: 1px solid goldenrod;
    width: 270px;
}
.blog-text button:hover{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
}
.more-blog{
    margin-left: -223px;
    margin-top: -63px;
}
.more button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-display: unset;
    border: 40px solid #E5BF4A;
    background-color: #E5BF4A;
    text-transform: uppercase;
    padding: 16px 73px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 1450px;
}
.more button:hover{
    background-color: black;
    color: goldenrod;
    border: 5px solid goldenrod;
    padding: 50px 107px;
} 
.more-blog img{
    position: relative;
    width: 1399px;
    height: 984px;
    display: block;
    margin-left: 1px;
}
#more-blog-btn button{
    margin-top: 60px;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
#more-blog-btn button:hover{
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
}