body{
    background-color: cadetblue;
}
.header-line{
    display: flex;
    padding: 50px;
    font-size: 100px;
    list-style-type: none;
    flex-direction: row;
}
.list{
    display: flex;
    list-style-type: none;
    margin: 141px;
    justify-content: space-between;
    justify-content: left;
    padding: 50px;
}
.fab{
    padding: 50px;
    width: 40px;
    height: 40px;
    font-size: 100px;
}
.ins{
    padding: 50px;
    width: 40px;
    height: 40px;
    font-size: 100px;
}
.twit{
    padding: 50px;
    width: 40px;
    height: 40px;
    font-size: 100px;
}
#img{
    text-align: center;
    font-family: "Dancing Script", cursive;
    margin-left: 2000px;
    font-size: 150px;
}